<a href="https://colab.research.google.com/github/Msuban1/Msuban1.github.io/blob/main/WEEK_1_Project_(Cleaning_dataset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
# This installs the tools we need to work with Google Sheets
!pip install --upgrade gspread gspread-dataframe google-auth

Requirement already satisfied: gspread in /usr/local/lib/python3.11/dist-packages (6.2.1)
Requirement already satisfied: gspread-dataframe in /usr/local/lib/python3.11/dist-packages (4.0.0)
Requirement already satisfied: google-auth in /usr/local/lib/python3.11/dist-packages (2.40.2)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.11/dist-packages (from gspread) (1.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.11/dist-packages (from gspread-dataframe) (2.2.3)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.11/dist-packages (from gspread-dataframe) (1.17.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from google-auth) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from google-auth) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.11/dist-packages (from google-auth) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.11/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (2.0.0)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2025.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.11/dist-packages (from pyasn1-modules>=0.2.1->google-auth) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2025.4.26)

In [37]:
import pandas as pd
import gspread
from google.colab import auth
from google.auth import default
from gspread_dataframe import get_as_dataframe, set_with_dataframe

# This asks for permission to access your Google account
auth.authenticate_user()

# This sets up the connection to Google Sheets
creds, _ = default()
gc = gspread.authorize(creds)

In [55]:
# Paste your Google Sheet link below
sheet_url = 'https://docs.google.com/spreadsheets/d/1kojKp5JqJS7O9LgK1t3E5ZtjuYGm95Qx2R7DetCVfXs/edit?gid=866428366#gid=866428366'

# Open the spreadsheet
spreadsheet = gc.open_by_url(sheet_url)

# Get the first worksheet (tab) in the spreadsheet
worksheet = spreadsheet.get_worksheet(0)

# Convert the worksheet to a pandas DataFrame so we can clean it
sales_df = get_as_dataframe(worksheet, dtype=str)

# Remove completely empty rows (just in case)
sales_df.dropna(how='all', inplace=True)

# Show the rows of data
sales_df.head(20)

,Transaction_ID,Date,Customer_ID,Product,Category,Quantity,Price,Total_Amount,Payment_Method,Region
0,1001,2024-01-05,C001,Laptop,Electronics,1,800,375.2631578947368,Credit Card,North
1,1002,2024-01-10,C002,Smartphone,Electronics,2,600,1200,Cash,South
2,1003,2024-01-12,C003,Headphones,Electronics,1,100,100,PayPal,West
3,1004,2024-02-05,C004,Tablet,Electronics,1,500,500,Debit Card,East
4,1005,2024-02-08,C005,Book,Books,3,20,60,Credit Card,North
5,1006,2024-02-10,C001,Laptop,Electronics,1,800,800,Credit Card,North
6,1007,2024-03-15,C006,Shoes,Clothing,2,50,100,Cash,South
7,1008,2024-03-18,C007,T-Shirt,Clothing,1,25,25,PayPal,West
8,1009,2024-03-20,C008,Smartwatch,Electronics,1,200,200,Debit Card,East
9,1010,2024-04-01,C009,Book,Books,2,20,40,Credit Card,North
10,1011,2024-04-05,C002,Smartphone,Electronics,2,600,1200,Cash,South
11,1012,2024-04-10,C010,Tablet,Electronics,1,500,500,Debit Card,East
12,1013,2024-05-01,C011,Shoes,Clothing,1,50,50,Cash,South
13,1014,2024-05-05,C012,Headphones,Electronics,1,100,100,PayPal,West
14,1015,2024-05-08,C013,Laptop,Electronics,1,800,800,Credit Card,North
15,1016,2024-05-10,C014,T-Shirt,Clothing,3,25,75,Cash,South
16,1017,2024-06-01,C015,Smartwatch,Electronics,1,200,200,Debit Card,East
17,1018,2024-06-05,C016,Book,Books,4,20,80,Credit Card,North
18,1019,2024-06-08,C017,Smartphone,Electronics,1,600,600,Cash,South
19,1020,2024-06-10,C018,Tablet,Electronics,1,500,500,Debit Card,East

# Task
Clean this dataset.

Here is all the data you need:
"working copy of sales_data.xlsx"

## Data cleaning

### Subtask:
Remove all duplicates from dataset.

**Reasoning**:
Inspect the data, cleaning the data collected by removing any duplicates to ensure a correct outcome and insight to make any business decision.

In [39]:
# Check how many duplicate rows there are
duplicate_count = sales_df.duplicated().sum()
print("Number of duplicate rows found:", duplicate_count)

# Remove duplicates directly in the dataset
sales_df.drop_duplicates(inplace=True)

# Show the new size of the dataset
print("Shape after removing duplicates:", sales_df.shape)

Number of duplicate rows found: 0
Shape after removing duplicates: (20, 10)

**Conclusion**: There was no duplicates found in the dataset.
The dataset is 20 rows, 10 columns.

***Saved cleaned duplicates dataset to Google Sheet***

In [40]:
from gspread_dataframe import set_with_dataframe

# Overwrite the original sheet with the cleaned data
set_with_dataframe(worksheet, sales_df)

print("Cleaned data (duplicates removed) saved to Google Sheets.")

Cleaned data (duplicates removed) saved to Google Sheets.

### Subtask 2:

Inspect the data for missing values.

In [41]:
# Show count of missing values per column
print("Missing values in each column:")
print(sales_df.isnull().sum())

Missing values in each column:
Transaction_ID    0
Date              0
Customer_ID       0
Product           0
Category          0
Quantity          0
Price             0
Total_Amount      0
Payment_Method    0
Region            0
dtype: int64

**Result**: 1 missing value was found in the Total_Amount column.

In [42]:
# Overwrite the worksheet with the cleaned data

from gspread_dataframe import set_with_dataframe
set_with_dataframe(worksheet, sales_df)

print("Missing values handled and cleaned data saved back to Google Sheets.")

Missing values handled and cleaned data saved back to Google Sheets.

### Subtask 3:
Replace missing values with mean or median. I inspected and cleaned the dataset separating it into two catergories - Numerical and Catergorical.

In [43]:
# Convert Price column to float and fill missing values with the average
sales_df['Price'] = sales_df['Price'].astype(float)
average_price = sales_df['Price'].mean()
sales_df['Price'] = sales_df['Price'].fillna(average_price)

# Convert Total_Amount to float and fill missing values with the average
sales_df['Total_Amount'] = sales_df['Total_Amount'].astype(float)
average_total = sales_df['Total_Amount'].mean()
sales_df['Total_Amount'] = sales_df['Total_Amount'].fillna(average_total)

print("Filled missing values in Price and Total_Amount with their averages.")

Filled missing values in Price and Total_Amount with their averages.

In [44]:
# Fill missing values in 'Category' with the most common value
most_common_category = sales_df['Category'].mode()[0]
sales_df['Category'] = sales_df['Category'].fillna(most_common_category)

# Fill missing values in 'Region' with the most common value
most_common_region = sales_df['Region'].mode()[0]
sales_df['Region'] = sales_df['Region'].fillna(most_common_region)

# Fill missing values in 'Payment_Method' with the most common value
most_common_payment = sales_df['Payment_Method'].mode()[0]
sales_df['Payment_Method'] = sales_df['Payment_Method'].fillna(most_common_payment)

print("Filled missing values in Category, Region, and Payment_Method with the most common value.")

Filled missing values in Category, Region, and Payment_Method with the most common value.

In [45]:
# Overwrite the worksheet with the cleaned data
set_with_dataframe(worksheet, sales_df)

print("Cleaned data has been saved back to your Google Sheet.")

Cleaned data has been saved back to your Google Sheet.

### Subtask 4:
Standardise Formats - This ensures data formats are consistent (e.g, dates in YYYY-MM-DD format, numbers are actually stored as numbers (not text) and numerical columns are without symbols).

In [46]:
# Convert the 'Date' column to datetime format
sales_df['Date'] = pd.to_datetime(sales_df['Date'], errors='coerce')

# Format the date column as 'YYYY-MM-DD'
sales_df['Date'] = sales_df['Date'].dt.strftime('%Y-%m-%d')

# Fill any failed conversions with 'n/a'
sales_df['Date'] = sales_df['Date'].fillna('n/a')

print("✅ Dates are now in YYYY-MM-DD format.")

✅ Dates are now in YYYY-MM-DD format.

In [47]:
# Convert numeric columns to the right format
sales_df['Price'] = pd.to_numeric(sales_df['Price'], errors='coerce')
sales_df['Quantity'] = pd.to_numeric(sales_df['Quantity'], errors='coerce')
sales_df['Total_Amount'] = pd.to_numeric(sales_df['Total_Amount'], errors='coerce')

# If any became NaN due to errors, fill with 0 or a default value
sales_df['Price'] = sales_df['Price'].fillna(0)
sales_df['Quantity'] = sales_df['Quantity'].fillna(0)
sales_df['Total_Amount'] = sales_df['Total_Amount'].fillna(0)

print("✅ Price, Quantity, and Total_Amount columns are now numeric.")

✅ Price, Quantity, and Total_Amount columns are now numeric.

### DATA CLEANED ✨

**Time to export it onto a google sheet file!**

In [48]:
# Save the fully cleaned and formatted dataset back to Google Sheets
from gspread_dataframe import set_with_dataframe
set_with_dataframe(worksheet, sales_df)

print("Final cleaned and formatted data saved to your Google Sheet.")

Final cleaned and formatted data saved to your Google Sheet.